<div class="">
    <div class="container">
        <app-header></app-header>
    </div>
    <div class="container">
        <app-banner></app-banner>
    </div>
    <div class="container">
        <div class=" mt-10 grid grid-cols-11 gap-4">
            <div class="col-span-8">
                <router-outlet></router-outlet>
                <div class="mt-4">
                    <h2 class="text-blue-400 text-2xl">TOP 100 <i class="fas fa-chevron-right"></i></h2>
                    <div class="flex justify-between mt-3">
                        <a href=""><img class="w-11/12" src="https://avatar-ex-swe.nixcdn.com/playlist/2021/04/07/2/7/0/9/1617776161396.jpg" alt=""></a>
                        <a href=""><img class="w-11/12" src="https://avatar-ex-swe.nixcdn.com/playlist/2020/09/16/e/1/f/f/1600244112678.jpg" alt=""></a>
                        <a href=""><img class="w-11/12" src="https://avatar-ex-swe.nixcdn.com/playlist/2020/09/16/e/1/f/f/1600239362951.jpg" alt=""></a>
                        <a href=""><img class="w-11/12" src="https://avatar-ex-swe.nixcdn.com/playlist/2021/05/26/b/e/2/9/1622014505032.jpg" alt=""></a>
                        <a href=""><img class="w-11/12" src="https://avatar-ex-swe.nixcdn.com/playlist/2020/09/29/f/9/f/7/1601348348354.jpg" alt=""></a>
                    </div>
                </div>
                <div class="mt-5">
                    <h2 class="text-blue-400 text-2xl">WEEKLY ARTIST CHART <i class="fas fa-chevron-right"></i></h2>
                    <div class="flex justify-between mt-3">
                        <a class="px-1"  href=""><img class="rounded-full w-11/12" src="https://avatar-ex-swe.nixcdn.com/singer/avatar/2019/10/29/a/a/d/4/1572318457703_600.jpg" alt=""></a>
                        <a class="px-1"  href=""><img class="rounded-full w-11/12" src="https://avatar-ex-swe.nixcdn.com/singer/avatar/2020/08/13/a/9/8/e/1597294555540_600.jpg" alt=""></a>
                        <a class="px-1"  href=""><img class="rounded-full w-11/12" src="https://avatar-ex-swe.nixcdn.com/singer/avatar/2021/09/13/8/9/3/6/1631521867789_600.jpg" alt=""></a>
                        <a class="px-1"  href=""><img class="rounded-full w-11/12" src="https://avatar-ex-swe.nixcdn.com/singer/avatar/2021/08/18/6/6/f/c/1629258965493_600.jpg" alt=""></a>
                        <a class="px-1"  href=""><img class="rounded-full w-11/12" src="https://avatar-ex-swe.nixcdn.com/singer/avatar/2019/10/31/c/0/b/8/1572506582623_600.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        
            <div class="col-span-3">
                <h2 class="text-blue-400 text-2xl ml-4">BXH BÀI HÁT <i class="fas fa-chevron-right"></i></h2>
                <div class="flex justify-center text-sm">
                    <button class="bg-red-500 px-4 border-r  rounded-l-full text-white ">Ngày</button>
                    <button class="py-2 bg-gray-200 px-4 hover:bg-red-500 hover:text-white">Tuần</button>
                    <button class="bg-gray-200 px-4 border-l rounded-r-full hover:bg-red-500 hover:text-white">Tháng</button>
                </div>
                <div>
                    <app-list-rank-songs></app-list-rank-songs>
                </div>
            </div>
            
        </div>
    </div>
    <div class=" fixed bottom-0 left-0 right-0 z-50">
        <app-music-player></app-music-player>
    </div>
    <app-footer></app-footer>
</div>

