<div class="mt-12">
    <div class="bg-gray-100">
        <div class="mx-auto px-3 py-4" style="width: 1146px">
            <h5 class="font-semibold text-lg py-1">LIÊN KẾT VÀ HỢP TÁC</h5>
            <div class="flex justify-around mx-auto" >
                <img src="https://stc-id.nixcdn.com/v11/images/footer/12.png" alt="">
                <img src="https://stc-id.nixcdn.com/v11/images/footer/2-new.png" alt="">
                <img src="https://stc-id.nixcdn.com/v11/images/footer/17.png" alt="">
                
                <img src="https://stc-id.nixcdn.com/v11/images/footer/3-new.png" alt="">
                <img src="https://stc-id.nixcdn.com/v11/images/footer/1-new.pngg" alt="">
                <img src="https://stc-id.nixcdn.com/v11/images/footer/19.png" alt="">
            </div>
        </div>
    </div>
    <div class=" mt-4 mx-auto px-3" style="width: 1146px">
        <div class="grid grid-cols-10 gap-5">
            <div class="col-span-3">
                <h5 class="font-semibold text-lg">HỖ TRỢ</h5>
                <div class="grid grid-cols-2 gap-5 mt-3">
                    <div>
                        <p class="text-xs text-gray-600"><i class="fas fa-chevron-right"></i> Trợ giúp</p>
                        <p class="text-xs text-gray-600"><i class="fas fa-chevron-right"></i> Sơ đồ</p>
                        <p class="text-xs text-gray-600"><i class="fas fa-chevron-right"></i> NCCI</p>
                        <p class="text-xs text-gray-600"><i class="fas fa-chevron-right"></i> Liên hệ quảng cáo</p>
                    </div>
                    <div class="-ml-5">
                        <p class="text-xs text-gray-600"><i class="fas fa-chevron-right"></i> Chính sách bảo mật</p>
                        <p class="text-xs text-gray-600"><i class="fas fa-chevron-right"></i> Chính sách SHTT</p>
                        <p class="text-xs text-gray-600"><i class="fas fa-chevron-right"></i> Thoả thuận sử dụng</p>
                    </div>
                </div>
            </div>
            <div class="col-span-3 ml-6">
                <h5 class="font-semibold text-lg">SẢN PHẨM KHÁC</h5>
                <div class="grid grid-cols-2 mt-3">
                    <div>
                        <p class="text-xs text-gray-600"><i class="fas fa-chevron-right"></i> Mobile App</p>
                        <p class="text-xs text-gray-600"><i class="fas fa-chevron-right"></i> Mobile Web</p>
                        <p class="text-xs text-gray-600"><i class="fas fa-chevron-right"></i> Smart Tv</p>
                        <p class="text-xs text-gray-600"><i class="fas fa-chevron-right"></i> Desktop</p>
                    </div>
                    <div>
                        <p class="text-xs text-gray-600"><i class="fas fa-chevron-right"></i> Dịch vụ 3G</p>
                        <p class="text-xs text-gray-600"><i class="fas fa-chevron-right"></i> NCT Corp</p>
                        <p class="text-xs text-gray-600"><i class="fas fa-chevron-right"></i> Tuyển dụng</p>
                    </div>
                </div>
            </div>
            <div class="col-span-4">
                <h5 class="font-semibold text-lg">TOP TỪ KHOÁ</h5>
                <a href="" class="no-underline"><p class="text-xs text-blue-500">3107 3, Sao Ta Ngược Lối, Xin Cúi Đầu, Xin Biết Ơn, Đâu Còn Đây, Dạ Vũ</p></a>
                <h5 class="font-semibold text-lg">KẾT NỐI VỚI CHÚNG TÔI</h5>
                <div class="flex">
                    <a href=""><img class="w-8" src="https://stc-id.nixcdn.com/v11/images/footer/t_ic_facebook.png" alt=""></a>
                    <a href=""><img class="w-8" src="https://stc-id.nixcdn.com/v11/images/footer/t_ic_instagram.png" alt=""></a>
                    <a href=""><img src="https://stc-id.nixcdn.com/v11/images/footer/t_ic_tiktok.png" alt=""></a>
                    <a href=""><img src="https://stc-id.nixcdn.com/v11/images/footer/t_ic_zalo.png" alt=""></a>
                </div>
                <div class="flex mt-3">
                    <a href=""><img class="w-5/6" src="https://stc-id.nixcdn.com/v11/images/footer/t_google_play.png" alt=""></a>
                    <a href=""><img class="w-5/6" src="https://stc-id.nixcdn.com/v11/images/footer/t_app_store.png" alt=""></a>
                    <a href=""><img class="w-5/6" src="https://stc-id.nixcdn.com/v11/images/footer/t_appgallery.png" alt=""></a>
                    
            </div>
        </div>
    </div>
</div>
<div class="bg-[#2daaed] mt-4 mb-[90px]">
    <div class="flex justify-between text-white pt-3 text-xs mx-auto" style="width:1111px">
        <p><i class="fas fa-map-marker-alt"></i> Tầng 19, Tòa nhà The 678 Tower, Số 67 đường Hoàng Văn Thái, phường Tân Phú, quận 7, TP HCM.</p>
        <p><i class="fas fa-envelope"></i> support@nct.vn</p>
        <p><i class="fas fa-phone"></i> (028) 3868 7979</p>
        <p class="mr-5">© NCT Corp. All rights reserved</p>
    </div>
</div>





