<div class="">
    <div class="container">
        <app-header></app-header>
    </div>
    <div class="container">
        <app-banner></app-banner>
    </div>
    <div class="container">
        <div class=" mt-10 grid grid-cols-11 gap-5">
            <div class="col-span-8">
                <app-list-songs [songs]="songs" (getLoadSong)="getLoadSongParent($event)"></app-list-songs>
                <div class="mt-4">
                    <h2 class="text-blue-400 text-2xl">TOP 100 <i class="fas fa-chevron-right"></i></h2>
                    <div class="flex justify-between mt-3">
                        <a href=""><img src="https://avatar-ex-swe.nixcdn.com/playlist/2021/04/07/2/7/0/9/1617776161396.jpg" alt=""></a>
                        <a href=""><img src="https://avatar-ex-swe.nixcdn.com/playlist/2020/09/16/e/1/f/f/1600244112678.jpg" alt=""></a>
                        <a href=""><img src="https://avatar-ex-swe.nixcdn.com/playlist/2020/09/16/e/1/f/f/1600239362951.jpg" alt=""></a>
                        <a href=""><img src="https://avatar-ex-swe.nixcdn.com/playlist/2021/05/26/b/e/2/9/1622014505032.jpg" alt=""></a>
                        <a href=""><img src="https://avatar-ex-swe.nixcdn.com/playlist/2020/09/29/f/9/f/7/1601348348354.jpg" alt=""></a>
                    </div>
                </div>
                <div class="mt-5">
                    <h2 class="text-blue-400 text-2xl">WEEKLY ARTIST CHART <i class="fas fa-chevron-right"></i></h2>
                    <div class="flex justify-between mt-3">
                        <a class="px-1"  href="/search?name=JustaTee"><img class="rounded-full w-11/12" src="https://avatar-ex-swe.nixcdn.com/singer/avatar/2019/07/22/f/e/a/2/1563758181487_600.jpg" alt=""></a>
                        <a class="px-1"  href="/search?name=Binz"><img class="rounded-full w-11/12" src="https://avatar-ex-swe.nixcdn.com/singer/avatar/2019/09/12/c/3/c/7/1568253936065_600.jpg" alt=""></a>
                        <a class="px-1"  href="/search?name=Masew"><img class="rounded-full w-11/12" src="https://avatar-ex-swe.nixcdn.com/singer/avatar/2019/10/29/a/a/d/4/1572318457703_600.jpg" alt=""></a>
                        <a class="px-1"  href="/search?name=Touliver"><img class="rounded-full w-11/12" src="https://avatar-ex-swe.nixcdn.com/singer/avatar/2017/09/22/1/5/6/5/1506068025704_600.jpg" alt=""></a>
                        <a class="px-1"  href="/search?name=BigDaddy"><img class="rounded-full w-11/12" src="https://avatar-ex-swe.nixcdn.com/singer/avatar/2019/02/27/7/d/f/a/1551249093087_600.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-span-3">
                <app-list-rank-songs [rankSongs]="rankSongs" (getLoadSong)="getLoadSongParent($event)"></app-list-rank-songs>
            </div>
        </div>
    </div>
    <div class=" fixed bottom-0 left-0 right-0 z-50">
        <app-music-player [playList]='dataSong'></app-music-player>
    </div>
    <app-footer></app-footer>
</div>
