<div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">SỬA DANH MỤC</h1>
    </div>
    <div class="w-1/2 mx-auto mt-20">
        <form [formGroup]="cateForm" (ngSubmit)="onSubmit()">
            <div class="text-center">
                <label for="" class="text-2xl font-semibold">Tên Danh Mục</label>
                <input type="text" class="form-control mt-4" name="name" formControlName="name" value="data_cate.name">
                <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="alert alert-danger mt-2">
                    <div *ngIf="f.name.errors?.required">Tên danh mục không được để trống</div>
                </div>
                <button type="submit" [disabled]="!cateForm.valid" class="btn btn-primary mt-3">CẬP NHẬT</button>
            </div>
        </form>
    </div>
</div>
