<div>
    <h2 class="text-blue-400 text-2xl ml-4">BXH BÀI HÁT <i class="fas fa-chevron-right"></i></h2>
    <div class="flex ml-3 text-sm">
        <button class="bg-red-500 px-4 border-r  rounded-l-full text-white ">Ngày</button>
        <button class="py-2 bg-gray-200 px-4 hover:bg-red-500 hover:text-white">Tuần</button>
        <button class="bg-gray-200 px-4 border-l rounded-r-full hover:bg-red-500 hover:text-white">Tháng</button>
    </div>
</div>
<div class="mt-4">
    <div class="ml-1 flex items-center my-2" *ngFor="let song of songs, let i = index">
        <p class="text-2xl text-red-500 ml-3 mt-1">{{i+1}}</p>
        <img  src="{{song.img}}" class="w-20 h-[75px] ml-4" alt="">
        <div class="ml-3">
            <h5 class="text-sm">{{song.name}}</h5>
            <p class="text-xs">{{song.singer}}</p>
        </div>
    </div>
</div>
