<div class=" mt-4 grid grid-cols-12 gap-3 mx-auto relative">
    <!-- <div class="col-span-9">
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="w-full" [src]="images[0]" alt="Random first slide" />
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="w-full" [src]="images[1]" alt="Random second slide" />
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img class="w-full" [src]="images[2]" alt="Random third slide" />
              </div>
            </ng-template>
        </ngb-carousel>
    </div> -->
    <div id="carouselExampleIndicators" class="carousel slide col-span-9" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2021/09/17/1/e/5/5/1631871506418_org.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2021/09/23/0/b/6/1/1632393393398_org.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2021/09/17/1/e/5/5/1631870295892_org.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2021/09/16/9/f/9/e/1631760979294_org.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2021/09/22/9/4/9/5/1632304077831_org.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="col-span-3">
        <img class="h-full" src="https://photo-resize-zmp3.zadn.vn/w320_r1x1_jpeg/cover/a/7/5/7/a75731d04aa9876440572e3d76853d52.jpg" alt="sdf">
    </div>
</div>
