<div class="col-span-1" >
    <div class="grid grid-cols-11 gap-4 flex items-center mb-2">
        <div class="col-span-3">
            <img class="h-20" src="https://avatar-ex-swe.nixcdn.com/song/share/2021/07/14/f/9/f/e/1626231011678.jpg" alt="">
        </div>
        <div class="col-span-6 items-center">
            <h5 class="text-sm">aaaaa</h5>
            <p class="text-xs">bbbbbb</p>
        </div>
        <div class="col-span-2">
            <p class="text-sm"><i class="fas fa-headphones"> 11</i> </p>
        </div>
    </div>
</div>

