<div class="">
    <h2 class="text-blue-400 text-2xl" *ngIf=" id_cate == undefined">DANH SÁCH BÀI HÁT <i class="fas fa-chevron-right"></i></h2>
    <h2 class="text-blue-400 text-2xl" *ngIf=" id_cate != undefined" >DANH SÁCH BÀI HÁT <i class="fas fa-chevron-right"></i> {{title_cate}}</h2>
    <hr>
    <div class="grid grid-cols-2 gap-x-10 my-4" >
        <div class="col-span-1" *ngFor="let song of songs">
            <div class="grid grid-cols-11 gap-x-4 flex items-center cursor-pointer hover:bg-blue-100 rounded-md group" (click)="getSong(song)">
                <div class="col-span-3 overflow-hidden">
                    <img class=" h-24 transition duration-300 ease-in-out transform group-hover:scale-110" src="{{song.image}}" alt="">
                </div>
                <div class="col-span-6 items-center">
                    <h5 class="text-sm group-hover:text-blue-600">{{song.name}}</h5>
                    <p class="text-xs">{{song.singer}}</p>
                </div>
                <div class="col-span-2">
                    <p class="text-sm"><i class="fas fa-headphones"> {{song.view}}</i> </p>
                </div>
            </div>
            <hr>
        </div>
        
    </div>
</div>
